assets/Sazzad_Hussain_Farhaan__Resume.pdf
assets/Curriculum Vitae__Sazzad_Hussain_Farhaan.pdf
assets/Sazzad Hussain Farhaan - CV 26.09.2025.pdf
previndex.html
.gitmodules
_hugo.toml
data
archetypes
content
i18n
layouts
static
themes
lightmode.css
index_31oct2025.html